<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <title>Личный кабинет</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <h1>Rocket<span style="color: var(--pink-color);">Net</span></h1>
                    <h2><a href="/#tarif">Пакеты услуг</a></h2>
                    <h2><a onclick="togglePopupLogout()">Выход</a></h2>
            </div>
        </div>    
    </header>

    <div class="container">
        <section class="username">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </section>

        <section class="balance">
            <p>Баланс</p>
            <h6>{{ user_account.balance }} &#8381;</h6>
            <button onclick="togglePopupDeposit()" id="balance-btn">ПОПОЛНИТЬ</button>
        </section>

        <section class="purchases">
            <p>Оформленные тарифы</p>
            {% if user_mobile_tariffs|length != 0 %}
            <p style="margin-top: 20px; text-align: left; font-size: 32px; padding-left: 30px;">Мобильные тарифы:</p>
            {% for user_mobile_tariffs in user_mobile_tariffs %}
            <div class="tarifs-oform" data-id="mobile_tariff_plan_{{user_mobile_tariffs.id}}">
                    <h4>{{ user_mobile_tariffs.name }}</h4>
                    <h5 style="color: var(--pink-color); font-weight: 700;">{{ user_mobile_tariffs.price }} &#8381;/мес</h5>
                <div class="plans-oform">
                    <h5><i class="ri-global-line"></i> {{ user_mobile_tariffs.mobile_internet }} ГБ</h5>
                    <h5><i class="ri-phone-line"></i> {{ user_mobile_tariffs.minutes }} МИНУТ</h5>
                    <h5><i class="ri-mail-line"></i> {{ user_mobile_tariffs.sms }} СМС</h5>
                </div>
                <button type="submit" id="neoform_mobile_tariff_plan" class="neoform">Отключить</button>
            </div>
            {% endfor %}
            {% endif %}

            {% if user_home_tariffs|length != 0 %}
            <p style="margin-top: 20px; text-align: left; font-size: 32px; padding-left: 30px;">Домашние тарифы:</p>
            {% for user_home_tariffs in user_home_tariffs %}
            <div class="tarifs-oform" data-id="home_tariff_plan_{{user_home_tariffs.id}}">
                    <h4>{{ user_home_tariffs.name }}</h4>
                    <h5 style="color: var(--pink-color); font-weight: 700;">{{ user_home_tariffs.price }} &#8381;/мес</h5>
                <div class="plans-oform">
                    <h5><i class="ri-global-line"></i> {{ user_home_tariffs.home_internet }} ГБ</h5>
                    <h5><i class="ri-tv-line"></i> {{ user_home_tariffs.tv_channels }} КАНАЛОВ</h5>
                </div>
                <button type="submit" id="neoform_home_tariff_plan" class="neoform">Отключить</button>
            </div>
            {% endfor %}
            {% endif %}

            {% if user_combo_tariffs|length != 0 %}
            <p style="margin-top: 20px; text-align: left; font-size: 32px; padding-left: 30px;">Комбо-тарифы:</p>
            {% for user_combo_tariffs in user_combo_tariffs %}
            <div class="tarifs-oform" data-id="combo_tariff_plan_{{user_combo_tariffs.id}}">
                <h4>{{ user_combo_tariffs.name }}</h4>
                <h5 style="color: var(--pink-color); font-weight: 700;">{{ user_combo_tariffs.price }} &#8381;/мес</h5>
                <div class="plans-oform">
                    <h5>Мобильные услуги:</h5>
                    <h5> <i class="ri-global-line"></i> {{ user_combo_tariffs.mobile_internet }} ГБ</h5>
                    <h5> <i class="ri-phone-line"></i> {{ user_combo_tariffs.minutes }} МИНУТ</h5>
                    <h5> <i class="ri-mail-line"></i> {{ user_combo_tariffs.sms }} СМС</h5>
                    <br>
                    <h5>Домашние услуги:</h5>
                    <h5> <i class="ri-global-line"></i> {{ user_combo_tariffs.home_internet }} ГБ</h5>
                    <h5> <i class="ri-tv-line"></i> {{ user_combo_tariffs.tv_channels }} КАНАЛОВ</h5>
                </div>
                <button type="submit" id="neoform_combo_tariff_plan" class="neoform">Отключить</button>
            </div>
            {% endfor %}
            {% endif %}
        </section>
    </div>

    <div class="popup" id="popup-deposit">
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="togglePopupDeposit()">&times;</div>
            <p style="color: var(--pink-color); font-weight: 700;">ПОПОЛНЕНИЕ <br> БАЛАНСА</p>
            <form id="balance-form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="amount">Сумма пополнения</label>
                  <br>
                  <input type="text" id="amount" name="amount" placeholder="Введите сумму пополнения" required>
                </div>
                <button type="submit" class="btn-rl">Пополнить</button>
              </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function togglePopupDeposit() {
            document.getElementById("popup-deposit").classList.toggle("active");
        };

        function togglePopupLogout() {
            $.ajax({
                type:'GET',
                url:'{% url "logout" %}',
                data:
                {
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                      window.location.replace('{% url "home-page" %}');
                   }
            })
        };

        $(document).on('submit','#balance-form',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "create-payment" %}',
                data:
                {
                    user_id:"{{ user.id }}",
                    value:$("#amount").val(),
                    return_url:"{{ return_url }}",
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    window.location.replace(data.confirmation_url);
                }
            });
        });

        $(document).ready(function() {
          $(".neoform").click(function() {
            let card = $(this).closest(".tarifs-oform");
            let tariffIdAndType = card.data("id");
            let tariffId = tariffIdAndType.slice(-1);
            let tariffType = tariffIdAndType.slice(0, -2);
            console.log(tariffId);

            alertify.confirm("Вы уверены, что хотите отключить данный тариф?")
              .setHeader("Подтверждение отключения тарифа")
              .set("labels", { ok: "Да", cancel: "Отмена" })
              .set("onok", function() {
                $.ajax({
                  url: "/agreement-tariff-delete/" + tariffType + "/" + tariffId,
                  type: "DELETE",
                  success: function(response) {
                    alertify.success(response.success_message);
                  },
                  error: function() {
                    alertify.error("Отключение тарифа не удалось!");
                  }
                });
              })
              .set("oncancel", function() {
                alertify.error("Отключение тарифа отменено!");
              });
          });
        });
    </script>
</body>
</html>