<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Личный кабинет</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <h1>Rocket<span style="color: var(--pink-color);">Net</span></h1>
                    <h2><a href="/#tarif">Пакеты услуг</a></h2>
                    <h2><a href="/logout/">Выход</a></h2>
            </div>
        </div>    
    </header>

    <div class="container">
        <section class="username">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </section>

        <section class="balance">
            <p>Баланс</p>
            <h6>{{ user_account.balance }} &#8381;</h6>
            <button type="submit" id="balance-btn">ПОПОЛНИТЬ</button>
        </section>
    </div>
</body>
</html>