<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>Личный кабинет</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <h1>Rocket<span style="color: var(--pink-color);">Net</span></h1>
                    <h2><a href="/#tarif">Пакеты услуг</a></h2>
                    <h2><a onclick="togglePopupLogout()">Выход</a></h2>
            </div>
        </div>    
    </header>

    <div class="container">
        <section class="username">
            <p>{{ user.first_name }} {{ user.last_name }}</p>
        </section>

        <section class="balance">
            <p>Баланс</p>
            <h6>{{ user_account.balance }} &#8381;</h6>
            <button onclick="togglePopupDeposit()" id="balance-btn">ПОПОЛНИТЬ</button>
        </section>
    </div>

    <div class="popup" id="popup-deposit">
        <div class="overlay"></div>
        <div class="content">
            <div class="close-btn" onclick="togglePopupDeposit()">&times;</div>
            <p style="color: var(--pink-color); font-weight: 700;">ПОПОЛНЕНИЕ <br> БАЛАНСА</p>
            <form id="balance-form" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="amount">Сумма пополнения</label>
                  <br>
                  <input type="text" id="amount" name="amount" placeholder="Введите сумму пополнения" required>
                </div>
                <button type="submit" class="btn-rl">Пополнить</button>
              </form>
            </div>
        </div>
    </div>

    <script src="static/js/personalArea.js"></script>
    <script type="text/javascript">
        function togglePopupDeposit() {
            document.getElementById("popup-deposit").classList.toggle("active");
        };

        function togglePopupLogout() {
            $.ajax({
                type:'GET',
                url:'{% url "logout" %}',
                data:
                {
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                      window.location.replace('{% url "home-page" %}');
                   }
            })
        };

        $(document).on('submit','#balance-form',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "create-payment" %}',
                data:
                {
                    user_id:"{{ user.id }}",
                    value:$("#amount").val(),
                    return_url:"{{ return_url }}",
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(data){
                    window.location.replace(data.confirmation_url);
                }
            });
        });
    </script>
</body>
</html>